.container {
    width: 525px;
    position: relative;
}


.container .title {
    display: flex;
    align-items: center;
    

    text-transform: uppercase;
}

.container .title h5 {
    font-size: 26px;
    margin-left: 20px;
}

.container .info {
    margin-left: 60px;
    margin-top: 40px;
}

.container li {
    list-style: none;
    margin-bottom: 30px;

    display: flex;
    flex-direction: row;
}

.container li img {
    /* border: 2px solid red; */
    width: 2em;
    object-fit: contain;
}

.container .info li p {
    margin-left: 20px;
    font-size: 20px;
}