.secaoBeneficios{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url('../assets/img/fundo_degrade.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom; 
    height: 1000px;
    padding: 20px 100px;
    width: 100%;
}

.secaoBeneficios > div{
    width: 1400px;
}

.beneficio.invertido {
    flex-direction: row-reverse;
}

.tituloSecao{
    text-align: center;
    margin-top: 3em;
    color: #00A54F;
    font-size: 2.4em;
    font-weight: 550;
    text-transform: uppercase;
    margin-bottom: 1.8em;
}

.beneficio{
    display: flex;
    margin-bottom: 5em;
}


.texto {
    color: #00A54F; 
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto > h2{
    font-size: 1.5em;
    color: #00A54F; 
    font-weight: 550;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

.texto > h3{
    font-size: 1.2em;
    color: #727775; 
    font-weight: 400;
    font-style: italic;
    margin-bottom: 1em;
    text-transform: uppercase;
}

.texto > p{
    font-size: 1.2em;
    color: #333;
    font-weight: 500;
}

.beneficio1 .texto{
    text-align: right;
    margin-right: 5em;
}

.beneficio2 .texto{
    text-align: left;
    margin-left: 5em;
}

.beneficio2 .texto h2{
    color: #E77D1D; 
}

.imagem{
    height: auto;
    width: 32em;
  }
