
.section-header-background {
    width: 100%;
    height: 100vh;
    background-image: url('./backgroundHeader.png');
    background-size: cover;
    background-position: center;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.section-header-background > div{
    width: 1200px;
    height: 100vh;
    margin: auto;
}
